@use "../styles/variables" as *;

.picker {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  // Picker Controls 영역 스타일 구성
  &-controls {
    transition: transform .25s;       // transform 변화 시 전 <-> 후 애니메이션 속성
    // transform-style: preserve-3d;
    display: flex;
    gap: 0;

    // 하위(후손) 요소들에게 상속될 스타일 선언
    color: #9e9eb2;
    font-size: 4rem;
    font-weight: 300;

    &::after {
      content: "";
      position: absolute;
      height: $line-height;
      border-radius: 1.5rem;
      background: $visor;
      top: 50%;
      left: 0;
      right: 0;
      z-index: -1;
      transform: translateY(-50%);
      // transform-style: preserve-3d;
      // transform: translate3d(-50%, -50%, -1px);
      pointer-events: none;
    }
  }
}