@font-face {
  font-family: "SF Pro";
  src: url("/src/shared/assets/fonts/SF_Pro-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro";
  src: url("/src/shared/assets/fonts/SF_Pro-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SF Pro";
  src: url("/src/shared/assets/fonts/SF_Pro-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}