@use "@shared/styles" as *;

.liquid-glass {
  --transition: "";

  &.fast { --transition: 200ms cubic-bezier(0.5, 0, 0, 1); }
  &.slow { --transition: background-color 400ms cubic-bezier(1, 0, 0.4, 1), box-shadow 400ms cubic-bezier(1, 0, 0.4, 1); }

  @include mixin-liquid-glass(
    $boxShadow: "strong",
    $transition: var(--transition)
  );
}
// .liquid-glass {
//   --transition: "";

//   &.fast { --transition: 200ms cubic-bezier(0.5, 0, 0, 1); }
//   &.slow { --transition: background-color 400ms cubic-bezier(1, 0, 0.4, 1), box-shadow 400ms cubic-bezier(1, 0, 0.4, 1); }

//   background-color: color-mix(in srgb, #bbbbbc 12%, transparent);
//   backdrop-filter: blur(2rem) saturate(150%);
//   -webkit-backdrop-filter: blur(2rem) saturate(150%);

//   box-shadow:
//     inset 0 0 0 1px color-mix(in srgb, #ffffff calc(0.3 * 10%), transparent),
//     inset 1.8px 3px 0px -2px color-mix(in srgb, #ffffff calc(0.3 * 90%), transparent),
//     inset -2px -2px 0px -2px color-mix(in srgb, #ffffff calc(0.3 * 80%), transparent),
//     inset -3px -8px 1px -6px color-mix(in srgb, #ffffff calc(0.3 * 60%), transparent),
//     inset -0.3px -1px 4px 0px color-mix(in srgb, #000000 calc(2 * 12%), transparent),
//     inset -1.5px 2.5px 0px -2px color-mix(in srgb, #000000 calc(2 * 12%), transparent),
//     inset 0px 3px 4px -2px color-mix(in srgb, #000000 calc(2 * 12%), transparent),
//     inset 2px -6.5px 1px -4px color-mix(in srgb, #000000 calc(2 * 12%), transparent),
//     0px 1px 5px 0px color-mix(in srgb, #000000 calc(2 * 12%), transparent),
//     0px 6px 16px 0px color-mix(in srgb, #000000 calc(2 * 12%), transparent);

//   transition: var(--transition);
// }