/*
  ----------------------------------------------
  웹 폰트(Web Font) 폰트 지정 SCSS 파일
  ----------------------------------------------
  - @mixin을 통해 기존 @font-face 웹 폰트를 지정하는 웹 규칙을 함수화 시킨다.
  - 이후, @include를 @mixin을 호출해서 지정할 폰트의 값을 전달하여 웹 폰트를 지정시킨다.
  - 정상적으로 되었으면, Network 탭에서 폰트를 불러오는 것을 확인할 수 있다. (단, 해당 CSS 모듈 파일을 불러와야됨)
*/
@mixin font-face($name, $path, $weight: normal, $style: normal) {
  @font-face {
    font-family: "#{$name}";
    src:
      url("#{$path}.woff2") format("woff2"),
      url("#{$path}.woff") format("woff");
    font-weight: "#{$weight}";
    font-style: "#{$style}";
  }
}

@include font-face("Pretendard", "/fonts/Pretendard-Regular", 400, "normal");
@include font-face("Pretendard", "/fonts/Pretendard-Medium", 600, "normal");
@include font-face("Pretendard", "/fonts/Pretendard-Bold", 700, "normal");
@include font-face("Pretendard", "/fonts/Pretendard-ExtraBold", 900, "normal");
