@use "/src/shared/styles/mixins/font-face" as *;

/*
  ------------------------------------------------------------------
  Sass/Scss Mixin을 통해 정의한 스타일 블럭을 불러와 실제 웹 폰트를 지정시키는 파일
  ------------------------------------------------------------------
  - @include를 @mixin을 호출해서 지정할 폰트의 값을 전달하여 웹 폰트를 지정시킨다.
  - 정상적으로 되었으면, Network 탭에서 폰트를 불러오는 것을 확인할 수 있다.
*/
@include font-face("Noto Sans", "NotoSans-Regular", 300);
@include font-face("Noto Sans", "NotoSans-Medium", 500);
@include font-face("Noto Sans", "NotoSans-Bold", 700);
