@use "@shared/styles" as *;

.liquid-glass {
  --transition: "";

  &.fast { --transition: 200ms cubic-bezier(0.5, 0, 0, 1); }
  &.slow { --transition: background-color 400ms cubic-bezier(1, 0, 0.4, 1), box-shadow 400ms cubic-bezier(1, 0, 0.4, 1); }

  @include mixin-liquid-glass(
    $boxShadow: "strong",
    $transition: var(--transition)
  );
}

// @include mixin-liquid-glass(); // 전역에 구성한 Liquid-Glass 스타일 합성

// // 전역에 구성한 Liquid-Glass 스타일 합성
//   @include mixin-liquid-glass(
//     $boxShadow: "strong",
//     $transition: $transition // $transition: 200ms cubic-bezier(0.5, 0, 0, 1);
//   );

//   // 전역에 구성한 Liquid-Glass 스타일 합성
//   @include mixin-liquid-glass(
//     $boxShadow: "strong",
//     $transition: $transition // $transition: 200ms cubic-bezier(0.5, 0, 0, 1);
//   );

//   // 전역에 구성한 Liquid-Glass 스타일 합성
//     @include mixin-liquid-glass(
//       $boxShadow: "strong",
//       $transition: (background-color $transition, box-shadow $transition)
//       // $transition: 400ms cubic-bezier(1, 0, 0.4, 1);
//     );

//     @include mixin-liquid-glass(
//           $colorKey: content,
//           $colorPercent: 18%,
//           $boxShadow: "soft",
//           $transition: (
//             box-shadow $transition,
//             transform $transition
//             // $transition: 400ms cubic-bezier(1, 0, 0.4, 1);
//           )
//         );