@use "sass:map";
@use "@shared/styles" as *;

.header-button {
  $transition: 200ms cubic-bezier(0.5, 0, 0, 1);

  &__hidden {
    visibility: hidden;
  }

  // 단순, Tab Nativgation 레이아웃 패딩, 테두리 경계선 지정
  padding: 2rem;
  &__text {
    padding: 2rem 4rem;
  }

  border-radius: map.get($rounded, full);
  border: none;
  cursor: pointer;

  // 전역에 구성한 Liquid-Glass 스타일 합성
  // @include mixin-liquid-glass(
  //   $boxShadow: "strong",
  //   $transition: $transition
  // );

  // 폰트 스타일
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  
  & > svg {
    width: 6rem;
    height: 6rem;

    & > path {
      stroke: map.get($text-colors, primary);;
      transition: $transition;
    }
  }

  &:hover {
    &.glass-button__text {
      color: map.get($text-colors, action);
    }
    &.glass-button__icon {
      & > svg {
        & path {
          stroke: map.get($text-colors, action);
        }
      }
    }
  }
}