// 사이즈 관련 SCSS 변수
$tp-line-height: 8.5rem;
$tp-item-size: 14rem;
$tp-gap: 0px;

// 스크롤 / 회전 관련 SCSS 변수
$tp-scroll-padding: 0px;
$tp-scroll-ratio: 1;
$tp-inner-angle: 0deg;  // 추후 --total 기반 계산 예정
$tp-radius: 0px;        // 추후 inner-angle 기반 계산 예정

// 색상 SCSS 변수
$tp-visor-color: hsl(240deg 3.3% 17.84%);
$tp-visor-color: hsl(240deg 3.3% 87.84%);

// 개수 (hours / minutes 기준)
$tp-total: 60;
