@use "sass:map";
@use "@shared/styles" as *;

$line-height: 8.5rem;
$item-size: 14rem;
$total: 60;
$inner-angle: calc((360 / $total) * 1deg);
$gap: 0px;
$radius: calc(($line-height + $gap) / sin($inner-angle) * -1);
$rotation: calc(360deg / $total);

.picker {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  
  // Picker Controls 영역 스타일 구성
  &-controls {
    transition: transform .25s;       // transform 변화 시 전 <-> 후 애니메이션 속성
    // transform-style: preserve-3d;
    display: flex;
    gap: 0;

    // 하위(후손) 요소들에게 상속될 스타일 선언
    font-size: 4rem;
    font-weight: 300;

    &::after {
      content: "";
      position: absolute;
      height: $line-height;
      border-radius: 1.5rem;
      background-color: map.get($bg-colors, tertiary);
      top: 50%;
      left: 0;
      right: 0;
      z-index: -1;
      transform: translateY(-50%);
      // transform-style: preserve-3d;
      // transform: translate3d(-50%, -50%, -1px);
      pointer-events: none;
    }
  }

  &-control {
    width: $item-size;
    aspect-ratio: 1 / 2;
    position: relative;
    perspective: 15rem;
    timeline-scope: --controller;
    padding: 0;
    margin: 0;
    display: grid;
    place-items: center;
    transform-style: preserve-3d;
    transform: translate(-2rem) translateZ(0);
    mask: linear-gradient(transparent, map.get($text-colors, primary), transparent);
    -webkit-mask: linear-gradient(transparent, map.get($text-colors, primary), transparent);
    transition: opacity 0.25s;

    &.meridiem {
      --rotation: calc(360deg / #{$total});

      & .picker-controller {
        padding-block: 0;
      }
    }
  }

  &-track {
    width: 100%;
    height: $line-height;
    position: absolute;
    top: 50%;
    left: 0;
    overflow: hidden;
    color: map.get($text-colors, primary);
    translate: 0 -50%;
    pointer-events: none;
    background: map.get($bg-colors, tertiary);

    &-holder {
      width: 100%;
      word-break: break-all;
      color: map.get($text-colors, primary);
      pointer-events: none;
      font-weight: 400;
      word-spacing: 50rem;
      text-align: center;
      position: absolute;
      line-height: $line-height;
      top: 0;
      font-size: 5.8rem;
    }
  }

  &-controller {
    width: 100%;
    aspect-ratio: 1;
    height: 55rem;
    color: transparent;
    overflow: auto;
    margin: 0;
    padding: 0;
    scroll-snap-type: y mandatory;
    scroll-timeline: --controller;
    padding-block: 0.5rem;
    scrollbar-color: transparent transparent;

    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    
    li {
      width: 100%;
      aspect-ratio: 1;
      height: 55rem;
      scroll-snap-align: center;
      display: grid;
      place-items: center;
    }
  }

  &-wheel {
    position: absolute;
    width: 100%;
    height: $line-height;
    pointer-events: none;
    transform: translate3d(0, 0, calc(($radius * 1) - 4px));
    transform-style: preserve-3d;

    div {
      font-size: 5.4rem;
      backface-visibility: hidden;
      position: absolute;
      inset: 0;
      transform-style: preserve-3d;
      text-align: center;
      display: grid;
      place-items: center;
      transform:
        rotateX(calc(($total - var(--index)) * $inner-angle))
        translate3d(0, 0, calc($radius * -1));
    }
  }
}

@supports (animation-timeline: scroll()) {
  .picker-wheel {
    animation: rotate both linear;
    animation-timeline: --controller;
  }
  .picker-track-holder {
    animation: translate both linear;
    animation-timeline: --controller;
  }
}

@keyframes rotate {
  to {
    transform:
      translate3d(0, 0, calc(($radius * 1) - 4px))
      rotateX(var(--rotation, 360deg));
  }
}

@keyframes translate {
  to {
    transform: translateY(calc(-100% + $line-height))
  }
}

// GSAP 기반 드래그 활성화 도중 기존 스크롤 애니메이션 비활성화
.picker-controller[data-no-snap] {
  scroll-snap-type: unset;

  & + .picker-wheel {
    animation-name: none;
  }

  & ~ .picker-track .picker-track-holder {
    animation-name: none;
  }
}