@use "./variables" as *;

/*
  --------------------------------
  Time Picker 전체 컨테이너 스타일 구성
  --------------------------------
*/
.time-picker {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0;

  // Time Picker 내부 Contorl(hours, minutes, meridiem) 스크롤 컨테이너 스타일 속성
  & > .control {
    display: grid;
    place-items: center;
    width: $tp-item-size;
    height: 55rem;
    position: relative;
    overflow: hidden;
    perspective: 200px;
    transform-style: preserve-3d;

    & > .controller {
      width: 100%;
      height: 100%;
      overflow-y: auto;
      margin: 0;
      padding: 0;
      list-style: none;
      scroll-snap-type: y mandatory;

      & > li {
        height: $tp-item-size;
        display: grid;
        place-items: center;
        scroll-snap-align: center;
      }
    }

    & > .wheel {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: $tp-line-height;
      pointer-events: none;
      transform-style: preserve-3d;

      & > div {
        position: absolute;
        inset: 0;
        display: grid;
        place-items: center;
        backface-visibility: hidden;
        transform:
          rotateX(calc(($tp-total - var(--index)) * $tp-inner-angle))
          translateZ(calc($tp-radius * -1));
      }
    }

    & > .track-holder {
      position: absolute;
      top: 50%;
      left: 0;
      width: 100%;
      height: $tp-line-height;
      transform: translateY(-50%);
      overflow: hidden;
      pointer-events: none;

      & > .track {
        width: 100%;
        line-height: $tp-line-height;
        text-align: center;
      }
    }
  }
}