.alarm-list-item {
  // 알림을 수행할 시간 + 활성화 여부 스타일 구성
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    line-height: 1.2;
    
    & > time {
      font-size: 6rem;
      font-weight: 400;

      & > span {
        font-size: 12rem;
      }
    }
  }

  // 설정한 알림의 보조 정보(선택된 요일) 스타일 구성
  &__meta {
    font-weight: 300;
  }
}