div.layout {
  max-width: 436px;
  height: 100dvh;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 3rem 4rem 2rem;
  background-color: #000;

  display: flex;
  flex-direction: column;
  position: relative;

  & > .content {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
  }
}

