@use "sass:map";
@use "@shared/styles" as *;

.swipe-to-delete {
  position: relative;
  transform: translateX(calc(var(--translate-x) * 1px));
  transition: transform .256s ease-out;

  &__actions {
    position: absolute;
    display: flex;
    align-items: center;
    top: 50%;
    filter: opacity(calc(abs(var(--translate-x)) / 72));
    transform: translateY(-50%) scale(calc(abs(var(--translate-x)) / 72));
    transition: transform 0.235s ease-out, filter 0.235s ease-out;
    right: -18rem;

    & > button {
      background-color: map.get($state-bg-colors, delete);
      border: none;
      display: flex;
      padding: 3rem;
      border-radius: 50%;
      cursor: pointer;
      box-shadow: 0 0.8rem 3.2rem 0.4rem rgba(map.get($box-shadow-colors, primary), 0.3);
    }
  }

  &__container {
    touch-action: pan-y;
    overscroll-behavior-x: none;
    user-select: none;
    -webkit-user-select: none;
  }
}