.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  ::-webkit-scrollbar {
    display: none;
  }

  & > .time-wrapper {
    position: relative;
    width: 100%;
    height: 75rem;
    text-align: center;
    user-select: none;

    & > .time-count-down {
      position: absolute;
      width: 65rem;
      height: 65rem;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    & > time {
      position: absolute;
      line-height: 75rem;
      font-size: 20rem;
      font-weight: 100;
      font-variant-numeric: tabular-nums;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}