.bottom-sheet {
  max-width: 436px;
  margin: 0 auto;
  visibility: visible !important;

  &-container {
    background-color: #2c2c2f !important;
    padding: 4rem;
    box-sizing: border-box;
    border-top-left-radius: 8rem !important;
    border-top-right-radius: 8rem !important;
  }

  // react-sheet-modal 스크롤바 영역 제거
  &-content {
    & > div[class*=scroller] {
      scrollbar-width: none;
      ::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &-backdrop {
    position: absolute !important;
  }
}