// -----------------------------------
// Bottom Sheet 스타일 구성
// ---------------------------------
.bottom-sheet__container {
  height: 94%;
  position: absolute;
  left: 0; right: 0; bottom: -94%;
  transition: bottom 480ms ease-out;
  background-color: #303030;
  border-top-left-radius: 4rem;
  border-top-right-radius: 4rem;
  padding: 4rem;
  z-index: 9999;
  box-sizing: border-box;
  
  &.show {
    bottom: 0;
  }
}