@use "./variable.scss" as *;

/*
  ---------------------------------------------------------------------------
  Tab Navigation 레이아웃의 Liquid Glass 효과를 나타내기 위한 Box Shadow 표현 @Mixin
  ---------------------------------------------------------------------------
*/
@mixin glass-shadow() {
  box-shadow: 
    inset 0 0 0 1px color-mix(in srgb,  map-get($colors, "light") calc($glass-reflex-light * 10%), transparent),
    inset 1.8px 3px 0px -2px color-mix(in srgb, map-get($colors, "light") calc($glass-reflex-light * 90%), transparent),
    inset -2px -2px 0px -2px color-mix(in srgb, map-get($colors, "light") calc($glass-reflex-light *  80%), transparent),
    inset -3px -8px 1px -6px color-mix(in srgb, map-get($colors, "light") calc($glass-reflex-light *  60%), transparent),
    inset -0.3px -1px 4px 0px color-mix(in srgb, map-get($colors, "dark") calc($glass-reflex-dark * 12%), transparent),
    inset -1.5px 2.5px 0px -2px color-mix(in srgb,map-get($colors, "dark") calc($glass-reflex-dark * 12%), transparent),
    inset 0px 3px 4px -2px color-mix(in srgb, map-get($colors, "dark") calc($glass-reflex-dark * 12%), transparent),
    inset 2px -6.5px 1px -4px color-mix(in srgb, map-get($colors, "dark") calc($glass-reflex-dark * 12%), transparent),
    0px 1px 5px 0px color-mix(in srgb, map-get($colors, "dark") calc($glass-reflex-dark * 12%), transparent),
    0px 6px 16px 0px color-mix( in srgb, map-get($colors, "dark") calc($glass-reflex-dark * 12%), transparent);
}