@use "sass:map";
@use "./variable.scss" as *;
@use "./mixin.scss" as *;

// Tab Navigator -> Tab Navigation의 전체 레이아웃 스타일 구성
.tab-nav {
  $blur: 2rem;
  $transition: 400ms cubic-bezier(1, 0, 0.4, 1);
  $borderRadius: 9999px;

  // 단순, Tab Nativgation 레이아웃 패딩, 테두리 경계선 지정
  padding: 2.5rem 3rem;
  box-sizing: border-box;
  border-radius: $borderRadius;

  // Liquid Glass 효과를 나타내기 위한 배경색 + 배경색 Blur 효과 / 채도 구성
  background-color: color-mix(in srgb, map.get($colors, "glass") 12%, transparent);
  backdrop-filter: blur($blur) saturate($saturation);
  -webkit-backdrop-filter: blur($blur) saturate($saturation);

  @include glass-shadow(); // Liquid Glass 효과를 나타내기 위한 Box-Shadow 스타일 구성
  transition: background-color $transition, box-shadow $transition; // Liquid Glass 효과를 위한 전환 상태(Transition)의 애니메이션 지정
  
  $tab-width: calc((100% / 4) - 3rem); // 탭 개수만큼 백분율 단위를 나눈 후 오른쪽 패딩 값을 뺀 width 값을 구한다.

  // Tab Lsit -> Tab Item을 구성하는 전체 리스트 레이아웃 스타일 구성
  &__list {
    width: 100%;
    height: 100%;
    display: flex;
    gap: 2rem;
    align-items: center;

    &::after {
      content: "";
      display: block;
      position: absolute;
      width: calc($tab-width);
      // width: calc((100% / 4) - 3rem);
      top: 1.2rem;
      height: calc(100% - 2.5rem);
      border-radius: $borderRadius;
      background-color: color-mix(in srgb, map.get($colors, "content") 36%, transparent);
      z-index: -1;
      box-shadow: 
        inset 0 0 0 1px
        color-mix(in srgb, map.get($colors, "light") calc($glass-reflex-light * 10%), transparent),
        inset 2px 1px 0px -1px color-mix(in srgb, map.get($colors, "light") calc($glass-reflex-light * 10%), transparent),
        inset -1.5px -1px 0px -1px color-mix(in srgb, map.get($colors, "light") calc($glass-reflex-light * 10%), transparent),
        inset -2px -6px 1px -5px color-mix(in srgb, map.get($colors, "light") calc($glass-reflex-light * 10%), transparent),
        inset -1px 2px 3px -1px color-mix(in srgb, map.get($colors, "dark") calc($glass-reflex-dark * 20%), transparent),
        inset 0px -4px 1px -2px color-mix(in srgb, map.get($colors, "dark") calc($glass-reflex-dark * 20%), transparent),
        0px 3px 6px 0px color-mix(in srgb, map.get($colors, "dark") calc($glass-reflex-dark * 20%), transparent);
      
      transition:
        box-shadow 400ms cubic-bezier(1, 0, 0.4, 1),
        translate 400ms cubic-bezier(1, 0, 0.4, 1);
    }

    &:has(a[href="/"][aria-current="page"])::after {
      translate: 0 0;
      transform-origin: right;
      animation: scaleToggleStart 440ms ease;
    }
    &:has(a[href="/world"][aria-current="page"])::after {
      translate: calc(77px + 4rem) 0;
      animation: scaleToggle2 440ms ease;
    }
    &:has(a[href="/stopwatch"][aria-current="page"])::after {
      translate: calc((100% * 2) + (2rem * 2)) 0;
      animation: scaleToggle3 440ms ease;
    }
    &:has(a[href="/timer"][aria-current="page"])::after {
      translate: calc((100% * 3) + (2rem * 3)) 0;
      transform-origin: left;
      animation: scaleToggleEnd 440ms ease;
    }
  }

  // Tab Item -> Tab Item 스타일 구성
  &__item {
    flex: 1;
    height: 100%;
    border-radius: $borderRadius;
    opacity: 1;
    transition: all 160ms;
  }

  // Tab Link -> Tab Item 내부의 NavLink 스타일 구성
  &__link {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    gap: 1.5rem;
    cursor: default;

    // Tab Link 하위 아이콘 스타일
    &-icon {
      width: 7rem;
      height: 7rem;
      transition: scale 200ms cubic-bezier(0.5, 0, 0, 1); // Hover 시 scale 전후 상태 제어 애니메이션 속성값

      & path {
        stroke: map.get($colors, "content");
      }
    }

    // Tab Link 하위 텍스트 스타일
    &-text {
      transition: 200ms cubic-bezier(0.5, 0, 0, 1); // Hover 시 scale 전후 상태 제어 애니메이션 속성값
    }

    // 현재 활성화된 라우트가 아닌 탭 버튼 항목을 Hover 시 후 상태 처리
    &:not([aria-current="page"]) {
      &:hover {
        cursor: pointer;

        & > .tab-nav__link-icon {
          scale: 1.14;
          & path {
            stroke: map.get($colors, "action");
          }
        }

        & > .tab-nav__link-text {
          color: map.get($colors, "action");
          font-weight: 700
        }
      }
    }
  }
}

@keyframes scaleToggleStart {
  0% {
    scale: 1 1;
  }
  50% {
    scale: 1.1 1;
  }
  100% {
    scale: 1 1;
  }
}

@keyframes scaleToggle2 {
  0% {
    scale: 1 1;
  }
  50% {
    scale: 1.2 1;
  }
  100% {
    scale: 1 1;
  }
}

@keyframes scaleToggle3 {
  0% {
    scale: 1 1;
  }
  50% {
    scale: 1.2 1;
  }
  100% {
    scale: 1 1;
  }
}

@keyframes scaleToggleEnd {
  0% {
    scale: 1 1;
  }
  50% {
    scale: 1.1 1;
  }
  100% {
    scale: 1 1;
  }
}