.layout {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  overflow-y: auto;
  scrollbar-width: none;
  ::-webkit-scrollbar {
    display: none;
  }

  // 사용자가 등록한 알림 정보가 없을 경우
  &-empty {
    justify-content: center;
    
    // 알림 정보가 없을 경우 Font 스타일 구성
    & > span {
      font-size: 6rem;
      color: #a8a8a8;
    }
  }

  &-list {
    width: 100%;
  }
}