.alarm-sheet-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;

  &__weekdays {
    width: 100%;
    box-sizing: border-box;
    background-color: #353535;
    border-radius: 4rem;
    overflow: hidden;

    & > li {
      // border-bottom: 1px solid #424141;
      position: relative;
      transition: background-color .1s ease;

      & > button {
        border: none;
        background: none;
        color: #FAFAFA;
        font-size: 4rem;
        font-weight: 300;
        cursor: pointer;
        width: 100%;
        padding: 2rem 2.5rem;
        line-height: 8rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & > svg > path {
          fill: #ff7f00;
        }
      }

      &:hover {
        background-color: #424141;
      }

      // 마지막 리스트를 제외하고 모두 구분선 스타일을 구성한다.
      &:not(:last-child)::after {
        content: "";
        display: block;
        position: absolute; // position을 통해 한 이유는 전체 li 영역에 hover 시 배경색을 넣기 위한 이유
        bottom: 0;
        left: 2rem;
        right: 2rem;
        height: 1px;
        background-color: #424141;
      }
    }

  }
}