.switch-container {
  background-color: #fff;
  position: relative;
  border-radius: 32px;
  box-shadow: 0 0 2px rgba(0, 0, 0, .025);
  overflow: hidden;
}

.switch-button {
  width: 94px;
  height: 32px;
  text-align: center;
  cursor: pointer;
  
  &-case {
    position: relative;
    display: inline-block;
    background: none;
    width: 49%;
    height: 100%;
    color: #151515;
    border: none;
    transition: .3s ease all;
    letter-spacing: 1px;
    font-size: 12px;

    &:hover {
      color: gray;
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }
  }

  .active {
    background-color: #151515;
    position: absolute;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;
    border-radius: 32px;
    transition: .3s ease-out all;

    &-case {
      color: #fff;
      font-weight: 600;
    }
  }
}