@use "sass:map";
@use "@shared/styles" as *;

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  ::-webkit-scrollbar {
    display: none;
  }

  & > .time-wrapper {
    position: relative;
    width: 100%;
    min-height: 75rem;
    text-align: center;
    user-select: none;

    & > .time-count-down {
      position: absolute;
      width: 65rem;
      height: 65rem;
      border-radius: 50%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    & > time {
      position: absolute;
      line-height: 75rem;
      font-size: 20rem;
      font-weight: 100;
      font-variant-numeric: tabular-nums;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  & > .button-group {
    margin: 2.5rem 0;
    padding-bottom: 6rem;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid map.get($border-colors, primary);

    & > button {
      cursor: pointer;
      width: 20rem;
      height: 20rem;
      border-radius: 50%;
      font-size: 4rem;
      padding: .7rem;
      background-clip: content-box;
      border: 2px solid transparent;
      transition: .3s ease;

      &.reset, &.lap { border-color: map.get($state-bg-colors, neutral); background-color: map.get($state-bg-colors, neutral); }
      &.start { border-color: map.get($state-bg-colors, start); background-color: map.get($state-bg-colors, start); color: map.get($text-colors, start) }
      &.stop { border-color: map.get($state-bg-colors, stop); background-color: map.get($state-bg-colors, stop); color: map.get($text-colors, stop) }

      &:hover {
        filter: opacity(0.8);
      }
    }
  }

  & > .time-group {
    display: flex;
    flex-direction: column;
    background-color: map.get($bg-colors, secondary);
    padding: 2rem;
    border-radius: 2rem;
    margin-top: 4rem;

    & > .time-group__selector {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 5rem 4rem;
      border-bottom: 1px solid map.get($border-colors, tertiary);

      &:last-of-type {
        border-bottom: none;
      }

      & > span {
        font-size: 5.4rem;
        text-transform: capitalize;
      }

      & > button {
        color: map.get($text-colors, primary);
        border: 1px solid map.get($border-colors, secondary);
        background-color: transparent;
        padding: 0;
        width: 8rem;
        height: 8rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        cursor: pointer;
        transition: background-color .235s ease, border .235s ease;

        &.decrement::before {
          content: "";
          display: block;
          width: 40%;
          height: 2px;
          border-radius: 9999px;
          background-color: map.get($text-colors, primary);
        }

        &.increment {
          position: relative;
        }
        &.increment::after,
        &.increment::before {
          content: "";
          display: block;
          position: absolute;
          width: 40%;
          height: 2px;
          border-radius: 9999px;
          background-color: map.get($text-colors, primary);
        }

        &.increment::after {
          transform: rotate(90deg);
        }

        &:not(&:disabled):hover {
          background-color: map.get($state-bg-colors, active);
          border-color: map.get($state-bg-colors, active);

          &.decrement::before,
          &.increment::after,
          &.increment::before {
            background-color: map.get($text-colors, tertiary);
          }
        }

        &:disabled {
          cursor: auto;
          opacity: 0.3;
        }
      }
    }
  }
}