@use "sass:map";
@use "@shared/styles" as *;

.audio {
  position: fixed;
  top: -20rem;
  transition: top 0.234s ease-in;
  left: 50%;
  transform: translateX(-50%);
  width: 412px;
  padding: 4.8rem 6rem;
  border-radius: map.get($rounded, full);
  box-sizing: border-box;
  background-color: map.get($bg-colors, secondary);
  box-shadow: 0 2px 4px rgba(86, 84, 84, 0.5);
  z-index: 999999;
  display: flex;
  align-items: center;
  justify-content: space-between;

  & > h3 {
    color: map.get($text-colors, active);
    font-size: 5.8rem;
    font-weight: 700;
    letter-spacing: 0.7rem;
    user-select: none;
    -webkit-user-select: none;
  }

  & > button {
    width: 36px;
    height: 36px;
    padding: 0;
    position: relative;
    border: none;
    background-color: map.get($text-colors, active);
    border-radius: 50%;
    cursor: pointer;
    
    &::before {
      content: "";
      display: block;
      position: absolute;
      width: 5.4rem;
      height: 0.63rem;
      background-color: map.get($bg-colors, primary);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(45deg);
      border-radius: map.get($rounded, full);
    }
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 5.4rem;
      height: 0.63rem;
      background-color: map.get($bg-colors, primary);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(-45deg);
      border-radius: map.get($rounded, full);
    }
  }
}