.list-item {
  border-bottom: 1px solid #414040;

  & > button {
    width: 100%;
    padding: 2.5rem 0;
    text-align: start;
    font-size: 4rem;
    color: #fff;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: background-color .4s ease-in;
  }
}