.bottom-sheet {
  // -----------------------------------
  // Bottom Sheet 뒷배경 스타일 구성
  // ---------------------------------
  &__background {
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: #000;
    pointer-events: none;  // show 클래스명이 붙기 이전까지는 포인터 이벤트 타겟 X
    filter: opacity(0);
    transition: filter 280ms linear;

    &.show {
      pointer-events: visible; // 활성화 이후 포인터 이벤트 타겟 O
      filter: opacity(0.7);
    }
  }

  // -----------------------------------
  // Bottom Sheet 스타일 구성
  // ---------------------------------
  &__container {
    height: 90%;
    position: absolute;
    left: 0; right: 0; bottom: -90%;
    transition: bottom 480ms ease-out;
    
    &.show {
      bottom: 0;
    }
  }
}