.switch {
  $width: 60px;
  width: $width;
  height: 25px;
  border-radius: 9999px;
  position: relative;
  background-color: #434343;
  padding: 0.5rem;
  box-sizing: border-box;

  &::before {
    content: "";
    display: block;
    width: calc(#{$width} / 2);
    height: 100%;
    background-color: #fff;
    border-radius: 9999px;
    transform: translateX(0%);
    transition: transform 0.2s ease-out;
  }

  &.active {
    background-color: #30b61e;
    
    &::before {
      transform: translateX(calc(100% - 1rem));
    }
  }
}