@use "sass:map";
@use "@shared/styles" as *;

.bottom-sheet-header {
  height: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  // Bottom Sheet Header 내부에서 사용되는 Button 스타일
  &__button {
    padding: 2rem;
    border-radius: map.get($rounded, full);
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    transition: 200ms cubic-bezier(0.5, 0, 0, 1);

    &-svg-fill > path { fill: map.get($text-colors, primary) }
    &-svg-stroke > path { stroke: map.get($text-colors, primary) }

    & > svg,
    & > svg > path {
      transition: 200ms cubic-bezier(0.5, 0, 0, 1);
    }

    &-left {
      @include mixin-liquid-glass(); // 전역에 구성한 Liquid-Glass 스타일 합성

      &:hover {
        & svg {
          transform: rotate(45deg) scale(1.2) !important;

          & path {
            stroke: map.get($text-colors, active);
          }
        }
      }
    }

    // Bottom Sheet Header 오른쪽에 표시되는 버튼 스타일 구성
    &-right {
      background-color: map.get($state-bg-colors, active);
      box-shadow: 0 2px 4px map.get($border-colors, primary);

      & > svg {
        transition: 200ms cubic-bezier(0.5, 0, 0, 1);
        & > path {
          transition: 200ms cubic-bezier(0.5, 0, 0, 1);
          filter: opacity(0.6);
        }
      }

      &:hover {
        & svg {
          transform: scale(1.2) !important;

          & path {
            filter: opacity(1);
          }
        }
      }
    }
  }

  // Bottom Sheet Header 내부에서 사용되는 Title 스타일
  &__title {
    font-size: 5.8rem;
    color: map.get($text-colors, primary);
  }
}