@use "sass:map";
@use "@shared/styles" as *;

.bottom-sheet {
  max-width: 436px;
  margin: 0 auto;

  &-container {
    background-color: map.get($bg-colors, secondary) !important;
    padding: 4rem;
    box-sizing: border-box;
    border-top-left-radius: 8rem !important;
    border-top-right-radius: 8rem !important;
  }

  // react-sheet-modal 스크롤바 영역 제거
  &-content {
    & > div[class*=scroller] {
      scrollbar-width: none;
      ::-webkit-scrollbar {
        display: none;
      }
    }
  }

  &-backdrop {
    position: absolute !important;
    pointer-events: all !important; // backdrop은 포인터의 타겟이 될 수 있는 상황으로 만들어서 bottom sheet 뒤의 콘텐츠를 선택하지 못하게 만든다.
  }
}