/*
  ---------------------------------------
  Tab Navigation에서 사용될 전역 색상 변수 집합
  ---------------------------------------
*/
$colors: (
  glass: #bbbbbc,        // 
  light: #ffffff,        //
  dark: #000000,         // 
  content: #e1e1e1,      // 선택된 탭의 글래스 색상 + 각 탭의 아이콘 / 텍스트 색상
  action: #ff7f00,       // 탭 호버 시 아이콘 + 텍스트 색상
);

$saturation: 150%;         // 색상 채도를 나타내는 변수
$glass-reflex-dark: 2;
$glass-reflex-light: 0.3;