header {
  height: 12rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 3rem;
  box-sizing: border-box;

  & > h1 {
    display: inline;
    font-size: 6rem;
    font-weight: 900;
    letter-spacing: 2px;
  }
}