@use "sass:map";
@use "@shared/styles" as *;

.world-sheet-content {
  margin-top: 4rem;

  & > li {
    &:first-child {
      border-top: 1px solid map.get($border-colors, tertiary);
    }

    & > button {
      width: 100%;
      padding: 3rem 0;
      text-align: start;
      background-color: transparent;
      border: none;
      cursor: pointer;
      font-size: 4rem;
      transition: background-color .235s ease-out;

      &:active {
        background-color: map.get($border-colors, tertiary);
      }
    }
  }
}