@use "./app/styles/font.module.scss";

/*
  -------------------------------------------------------
  치환된 JSX의 모든 HTML 요소에 공통으로 적용될 폰트 스타일을 구성한다.
  -------------------------------------------------------
*/
*, h1, h2, h3, h4, h5, h6, span, p, button, label, div {
  font-family: "Pretendard", -apple-system, BlinkMacSystemFont, "Malgun Gothic", "맑은 고딕", 
		halvetica, "Apple SD Gothic Neo", sans-serif; // -> font-family는 순차적으로 적용할 수 있는 폰트 구성을 찾으며, 적용할 수 있는 폰트 구성을 만난 경우 다음 폰트 구성은 무시한다.
  color: #151515
}

/*
  -------------------------------------------------------
  HTML 태그에 적용할 스타일을 지정한다.
  -------------------------------------------------------
*/ 
:root {
  // rem 단위를 쓰기 위해서는 각 요소에 적용되는 것보다, :root 선택자에 지정하는 것이 낫다.
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  line-height: 1.2;
}

/*
  -------------------------------------------------------
  <body> 태그에서만 적용될 스타일을 지정한다.
  -------------------------------------------------------
*/ 
body {
  width: 100vw;
  height: 100dvh;
}