.stopwatch-list-item-container {
  display: flex;
  justify-content: space-between;
  font-size: 4rem;

  &__timer {
    font-variant-numeric: tabular-nums;
  }
}

// & > .laps-item {
//       display: flex;
//       justify-content: space-between;
//       // padding: 3rem 0;
//       font-size: 4rem;
//       // border-bottom: 1px solid #4d4d4d;

//       & > .laps-item__time {
//         font-variant-numeric: tabular-nums;
//       }
//     }