.switch-button {
  width: 28rem;
  height: 7rem;
  text-align: center;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  border: 1px solid #FAFAFA;
  
  &-case {
    position: relative;
    display: inline-block;
    background: none;
    width: 49%;
    height: 100%;
    color: #FAFAFA;
    border: none;
    transition: .3s ease all;
    letter-spacing: 1px;
    font-size: 3rem;
    font-weight: 400;

    &:hover {
      color: gray;
      cursor: pointer;
    }

    &:focus {
      outline: none;
    }
  }

  .active {
    background-color: #FAFAFA;
    position: absolute;
    top: 0;
    width: 50%;
    height: 100%;
    transition: .3s ease-out all;

    &-case {
      color: #151515;
      font-weight: 600;
    }
  }
}