@use "../variables" as *;

$total: 60;
$inner-angle: calc((360 / $total) * 1deg);
$gap: 0px;
$radius: calc(($line-height + $gap) / sin($inner-angle) * -1);
$rotation: calc(360deg / $total);

.picker {
  &-control {
    width: $item-size;
    aspect-ratio: 1 / 2;
    position: relative;
    perspective: 15rem;
    timeline-scope: --controller;
    padding: 0;
    margin: 0;
    display: grid;
    place-items: center;
    transform-style: preserve-3d;
    transform: translate(-2rem) translateZ(0);
    mask: linear-gradient(#0000, #fff, #0000);
    -webkit-mask: linear-gradient(#0000, #fff, #0000);
    transition: opacity 0.25s;

    &.meridiem {
      --rotation: calc(360deg / #{$total});

      & .picker-controller {
        padding-block: 0;
      }
    }
  }

  &-track {
    width: 100%;
    height: $line-height;
    position: absolute;
    top: 50%;
    left: 0;
    overflow: hidden;
    color: #fff;
    translate: 0 -50%;
    pointer-events: none;
    background: $visor;

    &-holder {
      width: 100%;
      word-break: break-all;
      color: #fff;
      pointer-events: none;
      font-weight: 400;
      word-spacing: 50rem;
      text-align: center;
      position: absolute;
      line-height: $line-height;
      top: 0;
      font-size: 5.8rem;
    }
  }

  &-controller {
    width: 100%;
    aspect-ratio: 1;
    height: 55rem;
    color: #0000;
    overflow: auto;
    margin: 0;
    padding: 0;
    scroll-snap-type: y mandatory;
    scroll-timeline: --controller;
    padding-block: 0.5rem;
    scrollbar-color: #0000 #0000;

    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
    
    li {
      width: 100%;
      aspect-ratio: 1;
      height: 55rem;
      scroll-snap-align: center;
      display: grid;
      place-items: center;
    }
  }

  &-wheel {
    position: absolute;
    width: 100%;
    height: $line-height;
    pointer-events: none;
    transform: translate3d(0, 0, calc(($radius * 1) - 4px));
    transform-style: preserve-3d;

    div {
      font-size: 5.4rem;
      backface-visibility: hidden;
      position: absolute;
      inset: 0;
      transform-style: preserve-3d;
      text-align: center;
      display: grid;
      place-items: center;
      transform:
        rotateX(calc(($total - var(--index)) * $inner-angle))
        translate3d(0, 0, calc($radius * -1));
    }
  }
}

@supports (animation-timeline: scroll()) {
  .picker-wheel {
    animation: rotate both linear;
    animation-timeline: --controller;
  }
  .picker-track-holder {
    animation: translate both linear;
    animation-timeline: --controller;
  }
}

@keyframes rotate {
  to {
    transform:
      translate3d(0, 0, calc(($radius * 1) - 4px))
      rotateX(var(--rotation, 360deg));
  }
}

@keyframes translate {
  to {
    transform: translateY(calc(-100% + $line-height))
  }
}

// GSAP 기반 드래그 활성화 도중 기존 스크롤 애니메이션 비활성화
.picker-controller[data-no-snap] {
  scroll-snap-type: unset;

  & + .picker-wheel {
    animation-name: none;
  }

  & ~ .picker-track .picker-track-holder {
    animation-name: none;
  }
}